
fastapi==0.100.0          # Фреймворк для создания API
uvicorn[standard]==0.23.0 # ASGI-сервер для запуска приложения
sqlalchemy==2.0.20        # Библиотека ORM (обязательна для работы с PostgreSQL)
asyncpg==0.28.0           # Асинхронный драйвер PostgreSQL
aiokafka==0.8.0           # Python-клиент для работы с Kafka (асинхронный)
fastapi-pagination==0.11.0  # Удобная библиотека для пагинации
pytest==7.4.0             # Фреймворк для тестирования
httpx==0.24.1             # HTTP-клиент для тестов FastAPI
python-dotenv==1.0.0      # Для работы с .env файлами
pydantic==2.0.3           # Схемы валидации данных (обновленная версия)